@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.bio {
    text-align: center;
}

.pad {
    padding-top: 24px !important;
}

.pad-bottom {
    padding-bottom: 8px;
}

.pad-fa {
    vertical-align: middle;
}

body {
background: #0f161e;
//background-image: url("http://link2x.us/i/WebsiteBG.png");
background-repeat: no-repeat;
background-position: center center;
color: #00a8ac;
}

#email {
unicode-bidi:bidi-override;
direction: rtl;
}

.footer {
background-color: #085766;
color: #0f161e;
}

.showcenter {
height: 100%;
width: 100%;
vertical-align: middle;
text-align: center;
}
